* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}


/* GAME BOARD =================================================== */
.board-cell {
    height: 40px;
    width: 40px;
    border: 1px solid white;
    color: white;
}

.horizontal-line {
    display: flex;
}

.hover-cell {
    background-color: #8d8d8d;
}

.ship-cell {
    background-color: blue;
}

/* SHIP SELECTION =================================================*/
.ship-name {
    color: white
}




/* THIS IS JUST TESTING PART =============================================*/
.single-cell {
    color: #ffffff;
    height: 3rem;
    width: 3rem;
    border: 1px solid #ffffff
}
