* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #838383;
}

.main {
    display: flex;
    gap: 1rem;
}

/* GAME BOARD =================================================== */
.board-cell {
    height: 40px;
    width: 40px;
    border: 1px solid #000000;
    color: white;
}



.horizontal-line {
    display: flex;
}

.hover-cell {
    background-color: #8d8d8d;
}

.ship-cell {
    background-color: blue;
}

.taken-cell {
    background-color: #000000;
}

.missed-cell {
    background-color: #ffffff;
}

.attacked-cell {
    background-color: #ff0000;
}

/* SHIP SELECTION =================================================*/
.ship-name {
    color: white
}




/* THIS IS JUST TESTING PART =============================================*/
.single-cell {
    color: #ffffff;
    height: 3rem;
    width: 3rem;
    border: 1px solid #000000
}
