* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #838383;
}

.app-title {
    font-family: 'Passion One', cursive;
    font-size: 10rem;
}
.main {
    height: 100vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputPlayerName {
    display: flex;
    width: 23%;
    justify-content: center;
}
.nameText, .btn-enter {
    padding: 0.5rem 1rem;
}
.nameText{
    width: 100%;
}

.boards-all {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


/* GAME BOARD =================================================== */
.board-cell {
    height: 40px;
    width: 40px;
    border: 1px solid #000000;
    color: white;
}

.board-name {
    text-align: center;
}

.horizontal-line {
    display: flex;
}

.hover-cell {
    background-color: #8d8d8d;
}

.taken-cell {
    background-color: #000000;
}

.missed-cell {
    background-color: #ffffff;
}

.attacked-cell {
    background-color: #ff0000;
}

